<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a href="/">
        <img src="/assets/blog/logo.png">
        </a>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/blog/">ข่าวสาร</a>
          </li>
          <li>
            {# <a href="/blog/2023-03-19-เกี่ยวกับเรา/">เกี่ยวกับเรา</a> #}
            <a href="/about/">เกี่ยวกับเรา</a>
            <ul>
              <li><a href="/about/">ภารกิจ/ปณิธาน</a></li>
              <li>
                  <a href="#">บุคลากร </a>
                  <ul>
                    <li><a href="/navbar/director/">ผู้บริหาร</a></li>
                    <li><a href="/faculty/">อาจารย์</a></li>
                    <li><a href="/support/">แผนกธุรการ/สนับสนุน</a></li>
                    <li>
                      <a href="/directorarchives/">ทำเนียบ ผอ.กมส.</a>
                    </li>
                  </ul>
              </li>
              <li><a href="/program/">หลักสูตร</a></li>
              <li><a href="/courses/">รายวิชาที่เปิดสอน</a></li>
              <li><a href="/alumni/">ศิษย์เก่า</a></li>
            </ul>
          </li>
          <li>
            <a href="/journal/">วิจัย/บทความ</a>
          </li>
          <li>
            <a href="/fieldtrip/">กิจกรรมดูงาน</a>
            <ul>
                    <li><a href="http://socialdept.crma.ac.th/activelearning65.html" target="_blank">ดูงาน ปี 65</a></li>
                    <li><a href="http://socialdept.crma.ac.th/activelearning64.html" target="_blank">ดูงานปี 64</a></li>
                    
                  </ul>
          </li>
          <li>
            <a href="/international/">Academic Alliance</a>
          </li>
          <li>
            <a href="/contact/">ติดต่อเรา</a>
          </li>
          <li>
            <a href="/">หน้าหลัก</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>