---
title:  เกี่ยวกับเรา
layout: 'base.njk'
---
         

  <div class="container flow">
    <h1 class="article-title">{{ title }}</h1>
    <div class="about_text">
      <p> &nbsp&nbsp&nbsp&nbsp กมส.สกศ.รร.จปร. เป็นหน่วยขึ้นตรงต่อ สกศ.รร.จปร. มีหน้าที่ให้การศึกษาด้านวิชาการในระดับปริญญาตรีแก่ นนร. ซึ่งปัจจุบันเปิดสอนใน 1 สาขาวิชา คือ สาขาสังคมศาสตร์เพื่อการพัฒนา ดำเนินการสอน นนร. ให้สามารถบูรณาการความรู้ที่ได้รับไปประยุกต์ใช้บริหารจัดการและพัฒนาตามหน้าที่ที่ตนรับผิดชอบ ตลอดจนแก้ไขปัญหาต่างๆที่เกิดขึ้นเพื่อให้ภารกิจที่ได้รับมอบหมายนั้น บรรลุวัตถุประสงค์ </p>
      <div class="column2">
        <div>
        <ion-icon name="book-outline"></ion-icon>  
        <h2>ภารกิจ</h2> <br>
        <p>
              &nbsp&nbsp&nbsp&nbspกองวิชากฎหมายและสังคมศาสตร์ มีหน้าที่ให้การศึกษาระดับอุดมศึกษาแก่นนร.สาขาสังคมศาสตร์เพื่อการพัฒนา และเพื่อให้การดำเนินงานตามภารกิจ
              ที่ได้รับมอบหมายเป็นไปอย่างมีประสิทธิภาพโดยการผลิต นนร. ที่เป็นเลิศทางวิชาการด้านการพัฒนา จึงได้จัดทำแผนปฏิบัติราชการฯ ประจำปี 2557 ขึ้น โดยกำหนดแนวคิดด้านการพัฒนากองวิชาให้
              ครอบคลุมทั้งด้านบุคลากร งานวิชาการ การพัฒนาการเรียนการสอนและการวิจัย การพัฒนาอาคารสถานที่ ตลอดจนงานบริการ ทางวิชาการแก่ หน่วยงานหรือสังคมภายนอกและเพื่อให้การดำเนินงานตามแผนปฏิบัติราชการมีประโยชน์ต่อการ
              ปฏิบัติราชการในปีต่อ ๆ ไปจึงได้ทำการประเมินแผนปฏิบัติราชการในครั้งนี้ขึ้น
        </p>
        </div>
        <div>
        <ion-icon name="newspaper-outline"></ion-icon>
            <h2>ปณิธาณ</h2> <br>
            <p>
              <h3>เป้าหมาย</h3>
              &nbsp&nbsp&nbsp&nbspกองวิชากฎหมายและสังคมศาสตร์
              มีเป้าหมายที่จะพัฒนาการศึกษาเพื่อความสำเร็จแห่งกองทัพ
              และความสุขของประชาชน<br /><br />
              <h3>วัตถุประสงค์</h3>
              &nbsp&nbsp&nbsp&nbsp ผลิตนายทหารสัญญาบัตร ให้เป็นนายทหารหลักของกองทัพบก ที่พร้อมด้วยคุณลักษณะดังนี้<br /><br />
              1. มีความรู้ทางวิชาการระดับปริญญาตรีในสาขาวิชาสังคมศาสตร์เพื่อการพัฒนาและวิชาการทหาร
              สามารถออกไปรับราชการได้อย่างมีประสิทธิภาพและมีความรู้เพียงพอในการที่จะศึกษาต่อในระดับปริญญาที่สูงขึ้น<br /><br />
              2. เป็นผู้บังคับบัญชาหน่วยทหารที่ดี มีคุณธรรม มีความซื่อสัตย์สุจริต สามารถนำความรู้ที่ได้รับจากการศึกษาไปประยุกต์ใช้ในการปฏิบัติหน้าที่ได้อย่างมีประสิทธิภาพ
            </p>
        </div>
      </div> 
      <section class="section-branch">
        <div class="row">
          <h2 style="font-style: italic; text-align: center; padding-bottom: 1em">
            "การจัดการเรียนการสอนแบบบูรณาการ
            มุ่งสู่กระบวนการเรียนรู้ด้านการพัฒนา"
          </h2>
          <p class="long-intro">
           &nbsp&nbsp&nbsp&nbsp  การจัดการเรียนการสอนของกองวิชา:
            มุ่งเน้นการบูรณาการองค์ความรู้ทางสังคมศาสตร์ทั้งห้าแขนงวิชา
            เพื่อให้เป็นแกนหลักขององค์ความรู้ที่ตอบสนองต่อกระบวนการและภารกิจในการพัฒนาเป็นสำคัญ
            โดยใช้กระบวนการจัดการเรียนรู้ตามแนวคิดผู้เรียนเป็นศูนย์กลาง
            นอกจากนี้
            ยังมีการบูรณาการองค์ความรู้ระดับอุดมศึกษาและวิทยาการทางทหารเข้ามาเป็นส่วนประกอบในการจัดการเรียนการสอน
            เพื่อที่จะมั่นใจว่า 
            "นนร. ที่สำเร็จการศึกษาจากหลักสูตรศิลปศาสตรบัณฑิต
            สาขาสังคมศาสตร์เพื่อการพัฒนา โรงเรียนนายร้อยพระจุลจอมเกล้า
            จักเป็นนายทหารที่ดี และเป็นกำลังสำคัญของกองทัพในการปฏิบัติภารกิจได้อย่างรอบด้าน"
          </p>
        </div>
        <div class="column5">
          <div class="col span-1-of-5 branch-box">
            <img src="/assets/navbar/about/balance.png" />
            <h3>แขนงวิชา<br />กฎหมาย</h3>
            <br />
            <div class="branch-description">
              <p>
                ศึกษารูปแบบลักษณะของกฎหมายตลอดจนกระบวนการทางกฎหมาย
                ที่เกี่ยวข้องกับการปฏิบัติหน้าที่ในฐานะผู้นำหน่วยขนาดเล็กระดับหมวด
                รวมทั้งการขยายกรอบความเข้าใจด้านกฎหมายที่เกี่ยวข้องกับระบอบการเมืองการปกครองของประเทศไทยและระหว่างประเทศ
              </p>
            </div>
          </div>
          <div class="col span-1-of-5 branch-box">
            <img src="/assets/navbar/about/economics.png" />
            <h3>แขนงวิชา<br />เศรษฐศาสตร์</h3>
            <br />
            <div class="branch-description">
              <p>
                ศึกษาหลักการ กระบวนการในการจัดทรัพยากรให้เกิดอรรถประโยชน์
                ผ่านแนวคิดและวิธีการที่สร้างให้เกิดมูลค่า
                ตอบสนองต่อภารกิจในการบริหารจัดการทรัพยากรของกองทัพบก
                ในกรอบความเข้าใจพื้นฐาน
                เพื่อการประยุกต์กับภารกิจที่ได้รับมอบหมาย
              </p>
            </div>
          </div>
          <div class="col span-1-of-5 branch-box">
            <img src="/assets/navbar/about/political-science.png" />
            <h3>แขนงวิชา<br />รัฐศาสตร์</h3>
            <br />
            <div class="branch-description">
              <p>
                ศึกษากระบวนการทางการเมืองการปกครอง อันเป็น
                เครื่องมือในการจัดสรรทรัพยากรและประโยชน์แห่งรัฐ
                ซึ่งนำไปสู่การสร้างความสัมพันธ์และความมั่นคงของรัฐกับประชาคมโลกที่เป็น
                กรอบคิดและแนวทางในการพัฒนาที่เกี่ยวข้องกับการใช้อำนาจเป็นสำคัญ
              </p>
            </div>
          </div>
          <div class="col span-1-of-5 branch-box">
            <img src="/assets/navbar/about/network.png" />
            <h3>แขนงวิชา<br />สังคมวิทยาและมานุษยวิทยา</h3>
            <br />
            <div class="branch-description">
              <p>
                ศึกษาความสัมพันธ์ระหว่างมนุษย์กับสังคมในรูปแบบความสัมพันธ์ต่าง ๆ
                เพื่อมีความเข้าใจต่อปรากฏการณ์ทางสังคมในรูปแบบต่าง ๆ
                ตามเหตุปัจจัย ตลอดจนประยุกต์หลักการและกระบวน
                การในการสร้างความสัมพันธ์ ทางสังคม
                เพื่อนำไปสู่การสร้างความมั่นคงและการพัฒนาอย่างยั่งยืน
              </p>
            </div>
          </div>

          <div class="col span-1-of-5 branch-box">
            <img src="/assets/navbar/about/management.png" />
            <h3>แขนงวิชา<br />รัฐประศาสนศาสตร์</h3>
            <br />
            <div class="branch-description">
              <p>
                ศึกษาการบริหารทรัพยากรในองค์กร
                การจัดระบบและระเบียบโครงสร้างในการบริหารจัดการ
                โดยใช้หลักการผ่านกรอบคิด ยุทธศาสตร์ และนโยบายในการพัฒนาหน่วยงาน
                เพื่อนำไปสู่ความเข้าใจในการจัดสรรทรัพยากรด้านการบริหารอย่างเหมาะสม
                ตอบสนองภารกิจในการพัฒนาหน่วยงานอย่างเท่าทันต่อสถานการณ์
              </p>
            </div>
          </div>
        </div>
      </section>
          
    </div>
    </div>
  </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>