---
title:  เกี่ยวกับเรา
layout: 'base.njk'
---
         

<div class="section">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="home-title">{{title}}</h1>
        
      </div>
      {# <div>
        <img src="//unsplash.it/510" alt="" class="hero__image" />
      </div> #}
    </div>
{# <h1 class="section-title">เกี่ยวกับเรา</h1> #}

  

  </div>