---
title:  ทำเนียบ ผอ.กมส.
layout: 'base.njk'
---
         

  <div class="container flow">
    <h1 class="article-title">{{ title }}</h1>
     <div class="director-archives-table">
          <table>
            <tr>
              <th>ชื่อ</th>
              <th>สกุล</th>
              <th>ปีที่ดำรงตำแหน่ง</th>
            </tr>
            <tr>
              <td>พ.อ. สุข</td>
              <td>เปรุนาวิน</td>
              <td>พ.ศ. 2494 - 2497</td>
            </tr>
            <tr>
              <td>พ.อ. บัญชา</td>
              <td>มินทรขิน</td>
              <td>พ.ศ. 2497 - 2501</td>
            </tr>
            <tr>
              <td>พ.อ. สนธิ</td>
              <td>แย้มสกุล</td>
              <td>พ.ศ. 2501 - 2516</td>
            </tr>
            <tr>
              <td>พ.อ. สนิท</td>
              <td>โพธิสุข</td>
              <td>พ.ศ. 2516 - 2519</td>
            </tr>
            <tr>
              <td>พ.อ. เลิศ</td>
              <td>คำแหงฤทธิรงค์</td>
              <td>พ.ศ. 2519 - 2526</td>
            </tr>
            <tr>
              <td>พ.อ. ชลินทร์</td>
              <td>สุวรรณพันธุ์</td>
              <td>พ.ศ. 2526 - 2528</td>
            </tr>
            <tr>
              <td>พ.อ. สมพงษ์</td>
              <td>ใหม่วิจิตร</td>
              <td>พ.ศ. 2528 - 2530</td>
            </tr>
            <tr>
              <td>พ.อ.หญิง สาวิตรี</td>
              <td>สุนทโรวาท</td>
              <td>พ.ศ. 2530 - 2533</td>
            </tr>
            <tr>
              <td>พ.อ.หญิง มารศรี</td>
              <td>ดวงนิมิตร</td>
              <td>พ.ศ. 2533 - 2538</td>
            </tr>
            <tr>
              <td>พ.อ. นุกูล</td>
              <td>ใจอิ่มสิน</td>
              <td>พ.ศ. 2538 - 2543</td>
            </tr>
            <tr>
              <td>พ.อ. วินัย</td>
              <td>คำทวี</td>
              <td>พ.ศ. 2543 - 2544</td>
            </tr>
            <tr>
              <td>พ.อ.หญิง คมคาย</td>
              <td>นุกูลกิจ</td>
              <td>พ.ศ. 2544 - 2546</td>
            </tr>
            <tr>
              <td>พ.อ.หญิง นวลทอง</td>
              <td>เสมรสุต</td>
              <td>พ.ศ. 2546 - 2547</td>
            </tr>
            <tr>
              <td>พ.อ. จิรศักดิ์</td>
              <td>สุขวัฒนา</td>
              <td>พ.ศ. 2547 - 2554</td>
            </tr>
            <tr>
              <td>พ.อ. ภาณุวัตร</td>
              <td>อาดำ</td>
              <td>พ.ศ. 2554 - 2562</td>
            </tr>
            <tr>
              <td>พ.อ. ธนาวัฒน์</td>
              <td>แสงสุวรรณ</td>
              <td>พ.ศ. 2562 - 2565</td>
            </tr>
            <tr>
              <td>พ.อ. แดนชัย</td>
              <td>กองแก้ว</td>
              <td>พ.ศ. 2565 - 2566</td>
            </tr>
            <tr>
              <td>พ.อ. ปิยวัตร</td>
              <td>ณ พัทลุง</td>
              <td>พ.ศ. 2566 - ปัจจุบัน</td>
            </tr>
          </table>
        </div>
  </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>