---
title:  ผู้บริหาร
layout: 'base.njk'
---
         

  <div class="container flow">
    <h1 class="article-title">{{ title }}</h1>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/director/0000.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกปิยะวัตร ณ พัทลุง</h2>
        <p>ผู้อำนวยการกองวิชากฎหมายและสังคมศาสตร์ สกศ.รร.จปร.</p>
        <br>
        {# <p>- วศ.บ. (วิศวกรรมไฟฟ้า)<br>
           - M.S. (Electrical Engineering), University of Southern California</p> #}
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/director/44.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง สาริณี ไกรสังเกตุ</h2>
        <p>รองผู้อำนวยการกองวิชากฎหมายและสังคมศาสตร์ สกศ.รร.จปร.</p>

        <br>
        <p>- ศศ.บ. (ดุริยางคศาสตร์) <br>
           - ศศ.ม. (บริหารการศึกษา) <br>
           - รป.ม. (บริหารรัฐกิจ)
        </p> 
      </div>
    </div>
  </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>