---
title:  อาจารย์
layout: 'base.njk'
---
         

  <div class="container flow">
    <h1 class="article-title">{{ title }}</h1>
    <h1 class="branch-title">แขนงวิชากฎหมาย</h1>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/001.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกถนัดกิจ ยามาลี</h2>
        <br>
        <p><strong>คุณวุฒิ</strong></p>
        <p>- ศศ.บ. (จิตวิทยาและการแนะแนว) <br>
           - กศ.ม. (จิตวิทยาและการแนะแนว) <br>
           - น.บ. <br>
           - นม. (กฎหมายมหาชน)
        </p> 
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/002.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันโทหญิงณริตศา สายสอาด</h2>
        <br>
        <p><strong>คุณวุฒิ</strong></p>
        <p>- น.บ. <br>
           - บธ.บ. (การจัดการทั่วไป) <br>
           - ศศ.ม. (การบริหารรัฐกิจและกฎหมาย)
        </p> 
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/003.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยเอกอาคม โง้นแดง</h2>
        <br>
        <p><strong>คุณวุฒิ</strong></p>
        <p>- นบ. <br />
           - เนติบัณฑิตไทย <br />
           - นม. (กฎหมายมหาชน)
        </p> 
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/004.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยโทศุภชัย ปานพรหมมาศ</h2>
        <br>
        <p><strong>คุณวุฒิ</strong></p>
        <p>
          - น.บ. <br />
          - เนติบัณฑิตไทย <br />
          - น.ม. (กฎหมายอาญาและกระบวนการยุติธรรมทางอาญา)
        </p>
      </div>
    </div>
    <h1 class="branch-title">แขนงวิชาเศรษฐศาสตร์</h1>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/011.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกพลพัต รัตนอนันต์</h2>
        <br>
        <p><strong>คุณวุฒิ</strong></p>
            <p>
              - วศ.บ. (วิศวกรรมโยธา) <br />
              - วศ.ม. (วิศวกรรมโยธา) <br />
              - ศศ.ม. (เศรษฐศาสตร์ธุรกิจ) <br />
              - ปร.ด. (เศรษฐศาสตร์)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/012.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง สาธินี แก้วสืบ</h2>
        <br>
        <p><strong>ตำแหน่งทางวิชาการ</strong>: ผู้ช่วยศาสตราจารย์</p>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ศ.บ. (เชิงปริมาณ) <br />
              - พบ.ม. (พัฒนาการเศรษฐกิจ)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/013.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง ชัญญาพัทธ์ วิพัฒนานันทกุล</h2>
        <br>
          <p><strong>ตำแหน่งทางวิชาการ</strong>: รองศาสตราจารย์</p>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - วท.บ. (วิทยาศาสตร์ทางการแพทย์) <br />
              - วท.ม. (การจัดการ) <br />
              - ปร.ด. (เศรษฐศาสตร์) <br />
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/014.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง อารีย์วรรณ สุทธิพงศ์พันธ์</h2>
        <br>
          <p><strong>ตำแหน่งทางวิชาการ</strong>: ผู้ช่วยศาสตราจารย์</p>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - วท.บ. (วิทยาศาสตร์และเทคโนโลยี) <br />
              - วท.ม. (เศรษฐศาสตร์เกษตร) <br />
              - ค.ด. (บริหารการศึกษา)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/015.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยเอกหญิง ศตนันท์ บุพศิริ</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ศ.บ. <br />
              - MSc. (International Economics, Finance and Development)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/016.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยเอกหญิง วรัณญา สังข์อ่อง</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ศ.บ. <br />
              - ศ.ม. (เศรษฐศาสตร์ธุรกิจ)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/018.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยตรีกิตติธัช แย้มพลอย</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>- B.A. (Economics and Business)</p>
      </div>
    </div>
    <h1 class="branch-title">แขนงวิชารัฐศาสตร์</h1>
    <div class="personnel-list"> 
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/021.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง ดรรชนวรรณ เทศนธรรม</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ร.บ. (การระหว่างประเทศ) <br />
              - ศศ.ม. (ยุโรปศึกษา) <br>
              - M.S. (Management)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/022.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง สิริกาญจน์ เอี่ยมอาจหาญ</h2>
        <br>
          <p><strong>ตำแหน่งทางวิชาการ</strong>: ผู้ช่วยศาสตราจารย์</p>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ร.บ. (บริหารรัฐกิจ) <br />
              - ร.ม. (การปกครอง) <br />
              - บร.ม. (การจัดการทั่วไป) <br />
              - ปร.ด. (รัฐประศาสนศาสตร์)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/023.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันโทหญิง ดลยา เบญจาศิริชัย</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ร.บ. (การปกครอง) <br />
              - ศศ.ม. (ยุโรปศึกษา)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/024.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันตรีภริลพัจ จักร์แสน</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ร.บ. (การปกครอง) <br />
              - ศศ.ม. (การปกครอง)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/025.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยเอกธวัชชัย คำยอด</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ศศ.บ. (รัฐประศาสนศาสตร์) <br />
              - ร.ม.    (รัฐศาสตร์)      <br />
              - ปร.ด. (รัฐประศาสนศาสตร์) <br />
              </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/026.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยตรีพรหมณชนก เกตุพันธุ์</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>- B.A. (Political Science)</p>
      </div>
    </div>
    <h1 class="branch-title">แขนงวิชาสังคมวิทยาและมานุษยวิทยา</h1>
    <div class="personnel-list"> 
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/031.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง อาภัสรา สารลักษณ์</h2>
        <br>
            <p><strong>ตำแหน่งทางวิชาการ</strong>: รองศาสตราจารย์</p>            
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ศศ.บ. (สังคมวิทยาและมานุษยวิทยา) <br />
              - ศศ.ม. (พัฒนาสังคม)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/032.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกฐนัส มานุวงศ์</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ศศ.บ. (ภูมิศาสตร์) <br />
              - สค.ม. (สังคมวิทยา) <br />
              - ศศ.ม. (พัฒนาสังคม) <br />
              - ศษ.บ (การแนะแนว) <br />
              - ค.ด. (หลักสูตรและการสอน)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/033.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันโทหญิง พรรณพงา จุฬานนท์</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
                - อบ. (อักษรศาสตร์) <br />
                - M.A. (TESOL) <br />
                - Ph.D. (Asia and the Pacific)
              </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/034.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยเอกหญิง นัฐพร เกียรติบัณฑิตกุล</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ค.บ. (มัธยมศึกษามนุษยศาสตร์สังคมศาสตร์) <br />
              - ค.ม. (วิธีวิทยาวิจัยการศึกษา)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/035.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยเอกกฤษฎา แก้วเกลี้ยง</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>- สม.บ. <br />
              - สม.ม. (การวิจัยทางสังคม)
            </p>
      </div>
    </div>
    <h1 class="branch-title">แขนงวิชารัฐประศาสนศาสตร์</h1>
    <div class="personnel-list"> 
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/041.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกยุทธพงษ์ วงศ์อามาตย์</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>- ศศ.บ. (บริหารรัฐกิจ)</p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/045.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง ออมณี โรจนาปิยาวงศ์</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
                - วท.บ. (วิทยาศาสตร์และเทคโนโลยีการอาหาร) <br />
                - M.S.A. (International Administration)
              </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/director/44.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง สาริณี ไกรสังเกตุ</h2>
        <br>
        <p><strong>ตำแหน่งทางวิชาการ</strong>: ผู้ช่วยศาสตราจารย์</p>
        <p><strong>คุณวุฒิ</strong></p>
              <p>
                - ศศ.บ. (ดุริยางคศาสตร์) <br />
                - ศศ.ม. (บริหารการศึกษา) <br />
                - รป.ม. (บริหารรัฐกิจ)
              </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/043.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันเอกหญิง รุ่งอรุณ วัฒยากร</h2>
        <br>
        <p><strong>ตำแหน่งทางวิชาการ</strong>: ผู้ช่วยศาสตราจารย์</p>
              <p><strong>คุณวุฒิ</strong></p>
              <p>
                - พย.บ. <br />
                - ศษ.บ. (เทคโนโลยีและสื่อสารการศึกษา) <br />
                - วท.บ. (วิทยาการคอมพิวเตอร์) <br />
                - บธ.บ. (เทคโนโลยีสารสนเทศทางธุรกิจ) <br />
                - กศ.ม. (จิตวิทยาการแนะแนว) <br />
                - กศ.ด. (การบริหารการศึกษา) <br />
              </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/046.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันโทหญิง เบญจวรรณ อุปัชฌาย์</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ศศ.บ. (บริหารรัฐกิจ) <br />
              - รป.ม. (การบริหารงานส่วนท้องถิ่นและการจัดการเมืองใหม่) <br />
              - ปร.ด. (พัฒนศึกษาศาสตร์)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/047.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันโทหญิง เพ็ญพรรณ เสนารักษ์</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - นศ.บ. (การประชาสมพันธ์) <br />
              - นศ.ม. (การโฆษณา) <br />
              - ปร.ด. (สื่อสารมวลชน)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/048.jpg">
      </div>
      <div class="personnel-profile">
        <h2>พันตรีหญิง ชัชชนก เตชะวณิช</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - วท.บ. (วิทยาการคอมพิวเตอร์) <br />
              - กจ.ม. (การจัดการทั่วไป)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/049.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยเอกหญิง ธิริญญา เพ็ญญะ</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - บธ.บ. (ธุรกิจระหว่างประเทศ) <br />
              - บธ.ม. (บริหารธุรกิจ)
            </p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/faculty/050.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยเอกหญิง วรรณฤดี มณฑลจรัส</h2>
        <br>
            <p><strong>คุณวุฒิ</strong></p>
            <p>
              - ศษ.บ. (เทคโนโลยีและสื่อสารการศึกษา) <br>
              - ศษ.ม. (บริหารการศึกษา)
            </p>
      </div>
    </div>
  </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>