--- 
title: กองวิชากฎหมายและสังคมศาสตร์ โรงเรียนนายร้อยพระจุลจอมเกล้า
layout: 'base.njk'
--- 



  <section class="hero homepage">
    <div class="container flow">
      <div class="hero__content flow">
        <h1 class="home-title">กองวิชากฎหมายและสังคมศาสตร์</h1>
        <h1 class="sub-home-title">
          ส่วนการศึกษา โรงเรียนนายร้อยพระจุลจอมเกล้า
        </h1>
        <h3><em>"สังคมศาสตร์ ศาสตร์แห่งความยั่งยืน"</em>
        </h3>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary"
            >ข่าวสารและกิจกรรม</a
          >
          <a href="./blog" class="btn btn--neutral"
            >เกี่ยวกับเรา</a
          >
        </div>
      </div>
      
    </div>
  </section>
  <section class="intro">
    <div class="container flow">
      <h1 class="section-title text-center">ขอต้อนรับเข้าสู่เว็บไซต์ กมส.สกศ.รร.จปร.</h1>
      <p>
        กมส.สกศ.รร.จปร. เป็นหน่วยขึ้นตรงต่อ สกศ.รร.จปร. มีหน้าที่ให้การศึกษา ด้านวิชาการในระดับปริญญาตรีแก่ นนร. ซึ่งปัจจุบันเปิดสอนใน 1 สาขาวิชา คือ สาขาสังคมศาสตร์เพื่อการพัฒนา ดำเนินการสอน นนร. ให้สามารถบูรณาการ ความรู้ที่ได้รับไปประยุกต์ใช้บริหารจัดการและพัฒนา ตามหน้าที่ที่ตนรับผิดชอบ ตลอดจนแก้ไขปัญหาต่างๆที่เกิดขึ้น เพื่อให้ภารกิจที่ได้รับมอบหมายนั้น บรรลุวัตถุประสงค์
      </p>
    </div>

  </section>
  <section id="featured-articles" class="featured-articles">
    <div class="container flow">
      <h2 class="section-title text-center">ข่าวสาร และ กิจกรรม ของ กมส.ฯ</h2>
      <ul role="list" class="articles__list flow">
  
  {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
  {%- endfor -%}
</ul>
<h2 class="section-title text-center">กิจกรรมการเรียนรู้ของ นนร.</h2>
      <ul role="list" class="articles__list flow">
  
  {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
  {%- endfor -%}
</ul>
    </div>
  </section>

