---
title:  หลักสูตร
layout: 'base.njk'
---
         

  <div class="container flow">
    <h1 class="article-title">{{ title }}</h1>
    <div class="about_text">
      <p class="clicktodownload banner">(คลิกที่หัวข้อเพื่อดาวน์โหลดเอกสาร)</p>
      <div class="program-list">
            <li>
              <a href="/assets/navbar/program/SS-2563.pdf" target="_blank">
                หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาสังคมศาสตร์เพื่อการพัฒนา
                (ปรับปรุง พ.ศ.2563)</a
              >
            </li>
            <li>
              <a href="/assets/navbar/program/SS-2558.pdf" target="_blank">
                หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาสังคมศาสตร์เพื่อการพัฒนา
                (ปรับปรุง พ.ศ.2558)</a
              >
            </li>
            <li>
              <a href="/assets/navbar/program/108614ESmapping.pdf" target="_blank">
                รายละเอียดการปรับปรุงหลักสูตร (พ.ศ.2561)
              </a>
            </li>
          </div>
      <div class="banner">
          <h2>หลักสูตรศิลปศาสตรบัณฑิต สาขาวิชาสังคมศาสตร์เพื่อการพัฒนา <br />
              Bachelor Of Arts in Social Science for Development</h2>
      </div>
      
      <div class="column2 objectives">
        <div class="showcase">
          พื้นที่สำหรับ SHOWCASE
        </div>
        <div>
              <h2>วัตถุประสงค์ของหลักสูตร</h2> <br>
              <p>
                &nbsp&nbsp&nbsp&nbsp เพื่อผลิตนักเรียนนายร้อยให้เป็นนายทหารสัญญาบัตรหลักของกองทัพบก ที่พร้อมด้วยคุณลักษณะอันพึงประสงค์ ดังนี้
              </p>
              <ul>
                <br />
                <li>
                  1) เป็นต้นแบบของนายทหารสัญญาบัตรผู้มีลักษณะผู้นำที่ดี
                  มีคุณธรรมและจริยธรรรม มีวินัย มีความกล้าหาญ เสียสละ
                  รู้และธำรงแบบธรรมเนียมของกองทัพ
                  มีอุดมการณ์ในการอุทิศตนเพื่อชาติ ศาสน์ กษัตริย์ และประชาชน
                </li>
                <li>
                  2) มีความรู้ความเข้าใจในแนวคิด ทฤษฎี
                  และความรู้พื้นฐานทางสังคมศาสตร์ ทั้งด้านกฎหมาย เศรษฐกิจ สังคม
                  วัฒนธรรม การเมืองการปกครอง และการบริหารจัดการ
                  ที่จำเป็นต่อการบูรณาการไปประยุกต์ในการพัฒนาเพื่อความมั่นคง
                </li>
                <li>
                  3) มีทักษะในการประยุกต์องค์ความรู้ด้านการพัฒนา
                  ไปสู่การสร้างสรรค์ผลงานหรือเอกสารงานวิจัยรวมทั้งทักษะทำงานเบื้องต้นในการพัฒนาชุมชนและสังคม
                  ที่สอดคล้องกับการปฏิบัติหน้าที่ด้านการพัฒนาตามกรอบภารกิจของกองทัพบก
                </li>
                <li>
                  4) มีความรู้ความเข้าใจด้านกระบวนการวิจัยอย่างเพียงพอ
                  พร้อมนำไปประยุกต์ใช้ในการรวบรวมข้อมูลข่าวสาร
                  รวมทั้งสามารถนำมาวิเคราะห์หาข้อสรุป
                  เพื่อทำความเข้าใจชุมชนหรือเพื่อสร้างองค์ความรู้ที่จะนำไปใช้ประโยชน์ทั้งทางด้านการพัฒนาและเป็นพื้นฐานต่อการทำด้านความมั่นคง
                </li>
                <li>
                  5) มีความรู้และทักษะการใช้ความรู้ทางการทหาร
                  สามารถเป็นผู้บังคับบัญชาและนำหน่วยทหารระดับหมวดปฏิบัติการรบได้อย่างมีประสิทธิภาพ
                  รวมทั้งมีความรู้พื้นฐานของเหล่าทั้งทางเทคนิคและยุทธวิธี
                  ตลอดจนวิทยาการทหารอย่างกว้าง
                  ที่จำเป็นต่อการรับราชการทหารในช่วงแรก
                  และมีพื้นฐานในการศึกษาต่อเพิ่มเติมจาก รร.เหล่าสายวิทยาการต่อไป
                </li>
                <li>
                  6) มีความเข้มแข็งทั้งร่างกายและจิตใจ
                  เป็นสุภาพบุรุษที่เป็นผู้นำ มีคุณธรรม จริยธรรม
                  ในการพัฒนาและดำรงความเข้มแข็งของสมรรถภาพร่างกายและจิตใจ
                  ทั้งต่อตนเองและเสริมสร้างให้แก่กำลังพลในหน่วยงานของตน
                  ตลอดจนมีจิตสำนึกสัญชาตญานในการเป็นนักรบ
                </li>
                <li>
                  7) มีทักษะความสามารถในการฝึกสอน อบรม
                  และพัฒนาผู้ใต้บังคับบัญชาในระดับหมวด
                </li>
              </ul>
        </div>
      </div> 
      <div class="management">
        <h3>การบริหารจัดการ</h3>
          <p>
              &nbsp&nbsp&nbsp&nbsp ดำเนินการโดยคณะกรรมการอาจารย์ผู้รับผิดชอบหลักสูตรและผู้บริหารของกองวิชา
              โดยทำงานประสานกับผู้อำนวยการส่วนการศึกษา
              โรงเรียนนายร้อยพระจุลจอมเกล้า
              การดำเนินการด้านวิชาการอยู่ภายใต้กฏเกณฑ์ของส่วนการศึกษา
              โรงเรียนนายร้อยพระจุลจอมเกล้า
          </p>
      </div>
    </div>
    </div>
  </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
