:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;
  --fs-1000: 3rem;

  --ff-body: "Kanit", sans-serif;
  --ff-heading: "Noto Sans Thai", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-primary-200: hsl(50, 100%, 93%);
  --clr-primary-300: hsl(49, 100%, 80%, 1);
  --clr-primary-400: hsl(45, 97%, 54%, 1);
  --clr-primary-500: hsl(42, 96%, 50%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
    --fs-1000: 5rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  /* box-sizing: border-box; */
  box-sizing: unset;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h3 em {
  font-size: var(--fs-600);
  font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

section.hero {
  padding-top: 0vh;
  padding-bottom: 0px;
  margin-bottom: -60px;
}

/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

/* .flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
} */
.flow > * {
  margin-top: var(--flow-spacer, 0.8em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 75rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-primary-500);
  margin-top: 0px;
}

.article-title {
  font-size: var(--fs-700);
  padding-bottom: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgb(0, 0, 0, 0.5)),
    url(assets/blog/main_22.jpeg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  background-attachment: fixed;
  display: grid;
  grid-auto-flow: row;
  align-items: end;
  margin-top: -320px;
  margin-left: -120px;
  margin-right: -120px;
  padding-left: 100px;
}

.section-title {
  font-size: var(--fs-600);
}

/* //////////////////////
  Header
  /////////////////////// */

.page-header {
  padding: 1em 0;
  background-color: hsla(0, 0%, 10%, 1);
  height: 35vh;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__content img {
  width: 90%;
}

.nav-list {
  margin: 0;
  padding: 0;
  font-size: var(--fs-400);
}

.nav-list a {
  /* color: var(--clr-neutral-900); */
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 110%;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-primary-400);
  text-decoration: underline;
}

.nav-list li {
  margin-left: 10px;
  float: left;
  position: relative;
}

.nav-list ul {
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  /* background: var(--clr-primary-200); */
  transition: all 0.5s;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 2px;
}

.nav-list li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 5px 0 0 -30px; /* margin top,left align between main nav and sub nav */
}

.nav-list ul ul {
  top: -5px; /* bring the margin top back to align 2nd sub nav with 1st sub nav */
  left: 170px; /* bring 2nd sub nav to the left of 1st sub nav */
  margin: 0 0 0 20px; /* margin left align between main nav and sub nav */
}

.nav-list ul li {
  /* align elements in 1st sub nav */
  float: none;
  display: block;
  border: 0;
}

.nav-list ul a {
  /* 1st sub nav */
  width: 200px;
  display: block;
  float: none;
  padding-bottom: 8px;
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  --logo-color: currentColor;
  padding: 2em 0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  text-align: center;
}

/* //////////////////////
  Homepage
  /////////////////////// */
.hero,
.intro {
  background-color: var(--clr-primary-200);
}

.intro p {
  font-size: 130%;
}

.hero > div {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgb(0, 0, 0, 0.5)),
    url(assets/blog/main_22.jpeg);
  background-size: cover;
  background-position: center;
  height: 110vh;
  background-attachment: fixed;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
  margin-top: -320px; /* to cover the bg image all the way to the top */
  margin-bottom: -120px;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

.hero__content {
  color: var(--clr-neutral-100);
}

.home-title {
  font-size: var(--fs-1000);
}

.sub-home-title {
  font-size: var(--fs-700);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 4rem;
}

.hero .container {
  max-width: 100%;
  padding-left: 4em;
  padding-right: 4em;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-primary-200);
  /* margin-left: -100px; */
}

.articles__list {
  --flow-spacer: 2.4rem;
  /* margin: 6rem 0; */
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
  gap: 30px;
}

/* //////////////////////
  ALL ARTICLES!
  /////////////////////// */

.articles__list.flow.all_articles {
  display: grid;
}

.all_articles .snippet {
  grid-template-rows: max-content 1fr 1fr 1fr;
  row-gap: 10px;
  align-items: center;
  grid-template-columns: 1fr 5%;
}

.all_articles img.snippet__image {
  max-width: 480px;
  height: 360px;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

.main-article {
  padding-bottom: 3rem;
  background-color: var(--clr-primary-200);
  font-size: 20px;
}

.main-article img {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 5px solid var(--clr-primary-400);
}

.main-article__figure figcaption {
  margin: 1rem 0;
  font-size: var(--fs-300);
  opacity: 0.9;
}

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "button";
}

.snippet__image {
  grid-area: image;
  max-width: 280px;
  height: 210px;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--clr-primary-400);
}
.snippet__title {
  grid-area: title;
}
.snippet__meta {
  grid-area: meta;
  color: var(--clr-neutral-300);
}

.snippet__meta span {
  color: var(--clr-neutral-900);
}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--clr-primary-500);
}

/* .cadets img {
} */

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "image"
      "title"
      "meta"
      "button";
    grid-column-gap: 0.1em;
    grid-template-rows: 250px 150px min-content 1fr;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}
.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500);
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.btn.btn_all {
  margin-bottom: 50px;
  text-align: center;
  display: block;
  margin: -20px auto 100px auto;
  width: 150px;
  font-size: 130%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .articles__list {
    flex-wrap: wrap;
  }
  .all_articles .snippet img {
    max-width: 320px;
    max-height: 240px;
  }

  .featured-articles {
    margin-left: 0px;
  }
}
