---
title:  แผนกธุรการ/สนับสนุน
layout: 'base.njk'
---
         

  <div class="container flow">
    <h1 class="article-title">{{ title }}</h1>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/dummy.jpg">
      </div>
      <div class="personnel-profile">
        <h2>ร้อยตรีปฏิยุทธ์  ศรศรีวิชัย</h2>
        <p>ประจำกอง</p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/support/0S2.jpg">
      </div>
      <div class="personnel-profile">
        <h2>จ่าสิบเอกอรรถวุฒิ ไวยภาษ</h2>
        <p>เสมียน</p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/support/0S3.jpg">
      </div>
      <div class="personnel-profile">
        <h2>จ่าสิบเอกอำพล อภิคมานนท์</h2>
        <p>เสมียน</p>        
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/dummy.jpg">
      </div>
      <div class="personnel-profile">
        <h2>จ่าสิบโทประติรพ กิ่งสุวรรณ</h2>
        <p>เสมียน</p>
      </div>
    </div>
    <div class="personnel-list">
      <div class="personnel-portrait">
      <img src="/assets/navbar/support/0S4.jpg">
      </div>
      <div class="personnel-profile">
        <h2>จ่าสิบตรีชลอ สุขสิริ</h2>
        <p>เสมียน</p>
      </div>
    </div>
  </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>